@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 105vh;
  background-image: url("../images/vasenbakgrund.jpeg");
  color: white;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;  
  background-size: cover;
  background-repeat: no-repeat;
}

.title{
  margin: 2% 5%;
  text-align: left;
  letter-spacing: 2px;
}


.game-info-container {
  padding: 1%;
  font-size: 150%;
  display: flex;
  justify-content: center;
  
}

.game-info {
  padding: 0 5%;
}

.memory-game {
  width: 375px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 5px groove;
  /*background-color: white;*/
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  border: 5px groove;
  transform-style: preserve-3d;
  transition: transform .5s;
}


.card-back,
.card-front {
  width: 100%;
  height: 100%;
  padding: 1%;
  position: absolute;
  background: white;
  backface-visibility: hidden;
}

.button-container{
  display: flex;
  justify-content: center;
  padding: 0.5%;
}
   
.gameinfo-button {
  font-family: 'Lato', sans-serif;
  text-decoration: none;
  color: white;
  border: 5px groove;
  padding: 0.5%;
  font-size: 100%;
  background: #A43F2D;
  cursor: pointer;
  transition: 1s;
  text-align: center;
  margin: 0 4%;
}

.gameinfo-button:hover {
  background: white;
  color: #A43F2D;
  text-decoration: none;
  transition: 1s;  
}

.memory-card:active {
  transform: scale(0.8);
  transition: transform .2s;
}

/* When flip class is present (memory card clicked), rotate the clicked memory card 180deg (around the Y axis)*/
.memory-card.flip {
  transform: rotateY(180deg);
}


/* Rotate memory card 180deg (round Y axis) so you can see the front card motive*/
.card-front {
  transform: rotateY(180deg);
}


/* Apply 3d effect to the memory cards */
.memory-card{
  transform-style: preserve-3d;

}


#winMessageWindow {
  /*hidden by defaul*/
  display: none;  
  background-color: white;
  color: #A43F2D;
  position: absolute;
  z-index: 5;
  left: 25%;
  top: 25vh;
  width: 50%;
  height: 50%;
  text-align: center;
  border: 5px groove;
  padding: 5%;
}

#winHeading{
  font-size: x-large;
}

p

{
  font-size: 150%;
}

