@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: #A43F2D;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 100%;  
  }

  .title{
    margin: 1%;
    text-align: left;
    letter-spacing: 2px;
  }

  .memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    border: 5px groove;
  }
  
  .memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    border: 5px groove;
  }
  
  .memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .card-back,
  .card-front {
    width: 100%;
    height: 100%;
    padding: 5%;
    position: absolute;
    border-radius: 5px;
    background: white;
  }
  
 
   